// Navigation Styles here

.navbar{
    display: flex;
    justify-content: space-between;
    
    .logo{
        
    }

    nav{
        a{
            text-decoration: none;
        }
    }
    
    
}